


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Shaswat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Aayush">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/event_parti.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="website icon"  type="png" href="/static/images/icon.png">
  
  
</head>
<body>
  <h2 >{{ name}}</h2>
  
  <a href="/" class="glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    
    HOME
  </a>

  <div id="form1" style="display: none;text-align: center;
  position: relative;left: 32%;
  padding-top: 15%;
  bottom:100%;
  width: 35%;
  height: 35%;
  ">

  <form action="" method="POST" id="join_form">
    {% csrf_token %}
    <div class="form">
            <div class="column1">
                <label for="UN" style="color: aliceblue; font-size: 20px;"> Enter Team Code</label> <span style="color: red">*</span><br>
                <input type="text" placeholder="Team Code" name="code" id="UN" required>
                
            </div>
            
        </div>
        <a href="event_parti" id="submit1" >Join Team</a>
                                             </form>
                                            </div>


<div id="form2" style="display: none;text-align: center;
position: relative;left: 32%;
  padding-top: 15%;
  bottom:100%;
  width: 35%;
  height: 35%;">

  <form action="" method="POST" id="create_form">
    {% csrf_token %}
    <div class="form">
            <div class="column1">
                <label for="UN" style="color: aliceblue;font-size: 20px;">Team Name</label> <span style="color: red">*</span><br>
                <input type="text" placeholder="Team Name" name='name' id="UN" required>
                
            </div>
            
        </div>
        <a href="event_parti" id="submit2" >Create</a>
                                             </form>
                                            </div>

    


    <div class="container" id="container">
        <div class="card">
          <div class="txt" >
            
            {% if filename %}
            <button class="button1" href="#" onclick="openPdfFile('{{ filename }}')"><b>Rulebook</b></button>

            {% else %}
            <button class="button1" href="#" ><b>Rulebook</b></button>
            {% endif %}

            
              
  <!--     
<button class="button2" onclick="Openform1()"><b>Create Team</b></button>-->     

{% if gform %}
<button class="button3" onclick="window.location.href ='{{ gform }}' ; "><b>Register</b></button>

{% else %}
<button class="button3" href="#"><b>Register</b></button>

{% endif %}


          </div>
        </div>
      </div>

      <a href="competition" style="position:absolute;top: 85%;right: 44%;">Back
      </a>

      <script>

function Openform1(){
  document.getElementById('form1').style.display = '';
  document.getElementById('container').style.display = 'none';
}
function Openform2(){
  document.getElementById('form2').style.display = '';
  document.getElementById('container').style.display = 'none';
}



  document.getElementById('submit1').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default anchor tag behavior
    document.getElementById('join_form').submit(); // Submit the form
  });


  document.getElementById('submit2').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default anchor tag behavior
    document.getElementById('create_form').submit(); // Submit the form
  });




      </script>

      
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- define a function to open the PDF file -->
<script>
function openPdfFile(filename) {
    var url = "{% static 'Rulebooks/' %}" + filename;
    var win = window.open(url, '_blank');
    win.focus();
}
</script>

<!-- add a link or button to open the PDF file -->

      

</body>
</html>