

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Shaswat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Aayush">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/events.css' %}">
  
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <link rel="website icon"  type="png" href="/static/images/icon.png">
</head>



    <body   >

        <h3>Events</h3>
        <div class="card div1" >
            <img src="{% static 'images/edmnights.jpeg' %}" alt="">
          </div>
          
          <div class="card div2">
            <img src="{% static 'images/celebrity.jpg' %}" alt="">
          </div>
          
          <div class="card div3">
            <img src="{% static 'images/fashionwalk.jpeg' %}" alt="">
          </div>

          <a href="/" class="glow">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            HOME
          </a>

          <a href="payment"  style="left:70%" class="glow">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
            Buy Ticket
          </a>
</body>



</html>